/* COLORS 
#F8F6F6 light silver
#3FD1CB aqua
#2F24C1 royal blue
#4D12EE regular blue
*/

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
}

/* LEFT SIDE */

.left-side {
  border: 2px solid #e2efff;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  height: 100vh;
  width: 18vw;
}

.step-goal,
.user-info, 
.daily-info {
  border: 2px solid #e2efff;
  height: 25vh;
  width: auto;
}

.greeting {
  font-size: 30px;
  margin: 5% 0% 10% 25%;
}

.info {
  font-size: 15px;
  margin: 4% 8% 0% 8%;
}

.today-info {
  font-size: 20px;
  margin: 10% 8% 5% 8%;
}

/* Main */
main {
  align-items: center;
  border: 2px solid #F8F6F6;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1% 1% 1% 1%;
  width: 75vw;
}

h1 {
  font-size: 50px;
  margin-bottom: 5%;;
}

.week-ounces{
  margin-bottom: 1%;
  margin-top: 3%;

}

.weekly-water-container {
  height: 333px;
  width: 667px;
  border: 3px solid #3FD1CB;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

.graph-wrapper {
  height: 45vh;
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step-graph,
.sleep-graph {
  height: 40vh;
  width: 30vw;
  /* border: 3px solid blue; */
  display: flex;
  justify-content: center;
}

.step-graph {
  border-radius: 150px;
}
