/* COLORS 
#F8F6F6 light silver
#3FD1CB aqua
#2F24C1 royal blue
#4D12EE regular blue
*/

* {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body {
  display: flex;
  height: 95vh;
  width: 100vw;
}

.hidden {
  display: none!important;
}

/* LEFT SIDE */

.left-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 20vw;
}

.card {
  align-items: center;
  border: 2px solid #E3FDFD;
  border-radius: 16%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 15vw;
}

.title {
  color: #193498;
  font-size: 16px;
}

.p {
  color: #020202;
}

.user-info-card {
  height: 23vh;
}

.user-info {
  margin: 3% 3% 1% 3%;
}

.input-container {
  height: 30vh;
}

.submit-input {
  background-color: rgb(72, 185, 255);
  border-radius: 8%;
  color: #fefefe;
  height: 7vh;
  width: 9vw;
}

.submit-input:hover {
  background-color: rgb(0, 115, 255);
  cursor: pointer;
}

.input-list {
  display: flex;
  flex-direction: column;
}

.addDataButtons {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 10vw;
  font-size: smaller;
}

.all-time-info {
  height: 26vh;
}

.all-time {
  font-size: 14px;
  margin: 5% 0% 0% 5%;
}

/* Main */
main {
  align-items: center;
  border: 2px solid #E3FDFD;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1% 1% 1% 1%;
  width: 90vw;
}

h1 {
  color: #193498;
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 3%;
}

.p-main {
  font-size: 16px;
  color: #050505;
}

.today-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: space-evenly;
  text-align: center;
  width: 75vw;
}

.today {
  align-items: center;
  border: 2px solid #E3FDFD;
  border-radius: 16%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 1% 3% 1%;
  height: 32vh;
  width: 20vw;
}

.today-title {
  color: #193498;
  font-size: 14px;
}

.text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stride-container {
  align-items: center;
  border: 2px solid #E3FDFD;
  border-radius: 3%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10vh;
  width: 72vw;
}

.p-h {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: center;
  margin-left: 3%;
  width: 20vw;
}

.step-info, .p {
  font-size: 18px;
}

.graphs-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 42vh;
  justify-content: space-around;
  width: 75vw;
}

.container {
  align-items: center;
  border: 2px solid #E3FDFD;
  border-radius: 5%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  height: 25vh;
  justify-content: center;
  margin: 2% 0% 2% 0%;
  opacity: 100%;
  width: 30vw;
}

/* .step-graph,
.sleep-graph {
  display: flex;
  height: 40vh;
  border: 3px solid blue;
  justify-content: center;
  width: 30vw;
}

.step-graph {
  border-radius: 150px;
} */
