/* COLORS */

#2F24C1 /* dark blue */
#4D12EE /*royal blue */
#3FD1CB /*turquoise */
#F8F6F6 /*light silver */


* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
}

.left-side {
  height: 100vh;
  width: 25vw;
  border: 3px solid black;
}


main {
  height: 100vh;
  width: 75vw;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hydration-graph {
  height: 25vh;
  width: 65vw;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

.graph-wrapper {
  height: 45vh;
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step-graph,
.sleep-graph {
  height: 40vh;
  width: 30vw;
  border: 3px solid blue;
  display: flex;
  justify-content: center;
}

.step-graph {
  border-radius: 150px;
}
